body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    
}
button{
    cursor: pointer;
}
.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}
h1 {
    margin-bottom: 20px;
}
.btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
}
.milionario { background-color: #0023eb; }
.quina { background-color: #3f51b5; }
.mega { background-color: #4caf50; }
.duplaSena { background-color: #8B0000; }
.lotofacil { background-color: #91268F; }
.lotoMania {background-color: #E87722;}
.diaSorte {background-color: #FFD700;}
.superSete {background-color: #4c5e2b;}
.btn:hover { opacity: 0.8;}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}
.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}
.numeros {
    display: flex;
    overflow-x: auto;
    gap: 8px;
    padding: 10px;
    max-width: 100%;
    flex-wrap: nowrap;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
.numero, .trevo {
      min-width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-weight: bold;
}
.trevo {
    background: gold;
    color: black;
}
.close-btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}